/* Caratteristiche generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.centratura {
    width: 70%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* CSS relativo all'header */

header {
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

#header-top {
    padding-top: 20px;
}

#header-top #logo {
    width: 10%;
    float: left;
}

#header-top nav {
    width: 80%;
    height: 100%;
    float: left;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

#header-top .pulsante {
    max-width: 10%;
    float: right;
    color: blue;
}

#jumbotron {
    padding: 150px 0;
    text-align: center;
    color: white;
    width: 60%;
    margin: 0 auto;
}

#jumbotron h1 {
    font-size: 40px;
}

#jumbotron p {
    margin: 30px 0 20px;
    line-height: 25px;
}

#jumbotron a {
    margin: 0 10px;
}

.pulsante {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    background-color: white;
    text-decoration: none;
}


/* CSS relativo al main */

.blocco-contenuto-principale {
    padding: 30px 0;
}

.contenuto-1 {
    width: 70%;
    float: left;
}

.contenuto-1 img {
    max-width: 100%;
    object-fit: contain;
}

.contenuto-2 {
    width: 30%;
    float: left;
    margin-top: 40px;
}

.contenuto-2 h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contenuto-2 p {
    line-height: 25px;
}


/* CSS relativo al footer */

footer {
    background-color: rgb(56, 56, 56);
    padding: 50px 0;
    color: white;
}

#footer-top {
    margin-bottom: 20px;
}

#social {
    width: 25%;
    float: left;

    /* debug */
    /* background-color: red; */
}

#social h3 {
    color: rgb(85, 136, 202);
}

#social img {
    height: 10px;
}

#loghi .fa-twitter {
    color: white;
    font-size: 20px;
}

.footer-menu {
    width: calc(75% / 4);
    float: left;
    font-size: 12px;
}

.footer-menu h4 {
    margin-bottom: 10px;
    color: rgb(85, 136, 202);
}

.footer-menu ul {
    list-style: none;
}

.footer-menu ul li {
    margin-bottom: 10px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: white;
}

#footer-bottom {
    border-top: solid 1px lightgrey;
    padding-top: 20px;
}

#footer-logo {
    width: 20%;
    float: left;
}

#footer-logo img {
    max-width: 100%;
    display: block;
}

.pulsante.registrati {
    max-width: 20%;
    float: right;
}